button{
    width: 200px;
    height: 50px;
    margin-left: 25px;
	margin-top: 10px;
    border-color: coral;
    background-image: url("../ASSETS/barra_menu.png");
    background-size: 350px;
    background-position-x: center;
    background-position-y: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
h1{
    border: 4px solid;
    border-color:coral;
    border-style: outset;
    background-image: url("../ASSETS/barra_menu.png");
    background-size: 350px;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
#game_area{
    margin-top: 60px; 
}
#back{
      /* The image used */
  background-image: url("../ASSETS/fondo_menu.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#menu_background{
    background-image: url("../ASSETS/background_menu.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display:block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 400px;
}
