button{
    width: 300px;
    height: 80px;
    margin-left: 12%;
	margin-top: 10px;
    border-color: coral;
    background-color:rgb(249, 237, 196);
    background-position-x: center;
    background-position-y: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 25px;
}
h1{
    border: 9px solid;
    border-color:coral;
    border-style: outset;
    background-color:rgb(249, 237, 196);
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
#game_area{
    margin-top: 60px; 
}
#back{
  background-image: url("../ASSETS/fondo_menu.jpg");
  height: 100%;
  background-repeat:no-repeat;
  background-position:top;
  background-size: cover;
  display: flex;
}
#menu_background{
    margin-left: 15%;
    margin-top: 3%;
    border: 7px solid;
    border-color:coral;
    border-style: outset;
    background-color: rgb(255, 207, 143);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display:block;
	width: 400px;
	height: 600px;
}
#logo{
    margin-left: 10%;
    margin-top: 10%;
}